* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 3px;
}
  ::-webkit-scrollbar-track {
  background: rgb(48, 48, 48); 
}
::-webkit-scrollbar-thumb {
 
  border-radius: 40px;   
  border: 3px solid green;  
}
/* .App {
} */
